HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### ABOH ###

!.idea

### INGIOS
.DS_Store
/.idea/codeStyles/
/.idea/$CACHE_FILE$
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/kotlinScripting.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
